.grid-container {
    background-color: lightgrey;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 200px;
    grid-auto-rows: 100px; */
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    /* justify-content: center;
    align-content: stretch;*/
    height: 98vh; 
    /* justify-items: center;
    align-items: center; */
    border: 5px solid fade rgb(130, 151, 158);
    border-radius: 25px;
    box-shadow: inset 5px 5px 10px rgb(130, 151, 158), 
                inset -5px -5px 10px rgb(130, 151, 158);

    /* grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar content"; */
}
.game-title{
    align-self: start;
    grid-column: 1 / -1;
    background-color: orange;
    border-radius: 15px;
    padding: 5px;
    border: 5px solid rgb(130, 151, 158);
}
.game-start{
    align-self: start;
    justify-self: end;
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 5px;
    background-color: rgb(193, 250, 140);
}
.game-score{
    align-self: start;
    justify-self: start;
    grid-column: span 3;
    grid-row: span 1;
    border-radius: 5px;
    background-color: rgb(227, 132, 240);
}
.grid-item{
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 5px;
    background-color: black;
}

/* .grid-item-1{
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-column: 1 / -1;
    align-self: center;
    grid-column: span 1;
    grid-row: span 1;
    background-color: mediumslateblue;

}
.grid-item-2{
    grid-area: sidebar;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    grid-column: span 1;
    grid-row: span 1;
    background-color: lightpink;
}
.grid-item-3{
    grid-area: content;
    grid-column: span 1;
    grid-row: span 1;
    background-color: lightcoral;
}
.grid-item-4{
    grid-area: header;
    grid-column: span 1;
    grid-row: span 1;
    background-color: yellow;
}
.grid-item-5{
    grid-area: sidebar;
    grid-column: span 1;
    grid-row: span 1;
    background-color: lightseagreen;
}
.grid-item-6{
    grid-area: content;
    grid-column: span 1;
    grid-row: span 1;
    background-color:lightcyan;
} */